.populares{
    padding: 3rem 0;
}
.populares__cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
}
.populares__titulo{
    font-weight: 500;
}
.populares__icone{
    margin: .25rem;
}
.populares__botao{
    background: transparent;
    border: none;
    color: #333333;
}
.populares__conteudo{
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}
.populares__card{
    border-radius:10px;
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
    "card-imagem"
    "card-corpo";
    grid-template-columns: 100%;
    border: 2px solid transparent;
}
.populares__card:hover{
    border: 2px solid rgba(0, 0, 0, 0.377);
    cursor: pointer;
}
.populares__card:last-child{
    margin-right: 0;
}
.populares__card___imagem{
    grid-area: card-imagem;
    width: 100%;
    height: 100%;
    border-radius:  10px 10px 0 0 ;
}
.populares__card___corpo{
    display: grid;
    row-gap: .5rem;
    grid-area: card-corpo;
    grid-template-areas:
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}
.populares__card___titulo{
    font-size: 1.5rem;
    color: #333333;
}
.populares__card___data{
    font-size: .9rem;
    color: #808080;
}
.populares__card___descricao{
    line-height: 1.5rem;
    margin: 1rem 0;
    color: #333333;
    text-align: justify;
}
